@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CABEÇALHO */
#menu{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    width: 100vw;
    box-sizing: border-box;
}
/* BOX LOGO */
#menu .box_logo{
    display: flex;
    /* background-color: red; */
    width: 20%;
    justify-content: space-evenly;
}

#menu .hamburguer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 15px;
}

#menu .hamburguer span{
    height: 3px;
    width: 100%;
    background-color: #000;
}

#menu .box_search{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 50%;
    height: auto;
}

#menu .input_search{
    border:1px solid rgba(211, 211, 211, .5);
    height: 2.5em;
    width: 25em;
}

#menu .button_search{
    background-image: url(../img/lupa_icone_menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    border:1px solid rgba(211, 211, 211, .5);
    cursor: pointer;
    height: 2.5em;
    padding: 17px;
}

#menu .box_icons{
    width: 10em;
    display: flex;
    justify-content: space-between;
}

#menu .box_icons img{
    width: 2em;
    border-radius: 20px;
}
/* FIM -CABEÇALHO */

main{
    display: flex;
    padding: 25px;
    background-color: rgba(211, 211, 211, .2);
}

/* TELA PRINCIPAL */
#video_screen{
    width: 70%;
    height: auto;
    display: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 2%;
}

#video_screen iframe{
    width: 95%;
    height: 55%;
}

#video_screen h1{
    font-family: 'Roboto',sans-serif;
    font-weight: bolder;
    padding: 5px 5px 5px 0;
    font-size: 20px;
}

#video_screen .icons_main{

}

#video_screen .btn_subscribe{
    background-image: url(../img/botao_inscrevase_main.svg);
    
}

#video_screen p{
    font-size: 14px;
    padding: .5em 0;
}

#video_screen .views_main {
    font-weight: 700;
}

/* FIM - TELA PRINCIPAL */


/* BARRA LATERAL */
#sidebar{
    width: 30%;
    display: flex;
    flex-direction: column;
}

#sidebar .video_suggested{
    margin-bottom: 10px;
    height: 10vh;
    overflow: hidden;
}

#sidebar .video_suggested img{
    object-fit: contain;
    width: auto;
    height: 100%;
}



/* FIM - BARRA LATERAL */